* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.snake-head {
  background-color: black;
  width: 75px;
  height: 75px;
}

.snake-tail {
  background-color: grey;
  width: 50px;
  height: 50px;
}

.fruit {
  background-color: blue;
  width: 50px;
  height: 50px;
}
